.settings-section-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;

    flex-shrink: 0;

    border-radius: 9px;

    background-color: var(--color-background);

    color: var(--color-text-muted);
}

.settings-section-icon svg {
    width: 18px;
    height: 18px;
}

@media (max-width: 480px) {
    .settings-section-icon {
        display: none;
    }
}